/* Space out content a bit */

.metro .sidebar.dark {
  position: absolute;
  width: 50px !important;
  top: 45px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.metro .content-container {
  margin: 20px 20px 20px 75px;
}
