<nav class="navigation-bar dark">
    <div class="navigation-bar-content">
        <a href="/" class="element"><span class="icon-grid-view"></span> METRO UI CSS <sup>2.0</sup></a>
        <span class="element-divider"></span>

        <a class="pull-menu" href="#"></a>
        <ul class="element-menu">
            <li>
                <a class="dropdown-toggle" href="#" ng-dropdown>Base CSS</a>
                <ul class="dropdown-menu dark" data-role="dropdown">
                    <li><a href="requirements.html">Requirements</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">General CSS</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><a href="global.html">Global styles</a></li>
                            <li><a href="grid.html">Grid system</a></li>
                            <div class="divider"></div>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="images.html">Images</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="responsive.html">Responsive</a></li>
                    <li class="disabled"><a href="layouts.html">Layouts and templates</a></li>
                    <li class="divider"></li>
                    <li><a href="icons.html">Icons</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">Community</a>
                <ul class="dropdown-menu dark" data-role="dropdown">
                    <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
                    <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
                    <li class="divider"></li>
                    <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
                    <li class="divider"></li>
                    <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li>
                </ul>
            </li>
        </ul>

        <div class="no-tablet-portrait">
            <span class="element-divider"></span>
            <a class="element brand" href="#"><span class="icon-spin"></span></a>
            <a class="element brand" href="#"><span class="icon-printer"></span></a>
            <span class="element-divider"></span>

            <div class="element input-element">
                <form>
                    <div class="input-control text">
                        <input type="text" placeholder="Search...">
                        <button class="btn-search"></button>
                    </div>
                </form>
            </div>

            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Buy Now</a></li>
                </ul>
            </div>
            <span class="element-divider place-right"></span>
            <button class="element image-button image-left place-right">
                Yanshuo HUANG
            </button>
        </div>
    </div>
</nav>
<div class="grid fluid">
    <nav class="sidebar dark">
        <ul>
            <li class="active">
                <a href=""> 1 </a>
            </li>
            <li class=""><a href=""></a></li>
            <li class=""><a href=""></a></li>
            <li class=""><a href=""></a></li>
            <li class=""><a href=""></a></li>
        </ul>
    </nav>
    <div class="content-container">
        <div class="row">
            <div class="span3">
                <div class="panel">
                    <div class="panel-header">
                        Projects
                    </div>
                    <div class="panel-content">
                        <div class="listview small">
                            <a href="#" class="list">
                                <div class="list-content">
                                    <img src="images/excel2013icon.png" class="icon">
                                    <div class="data">
                                        <span class="list-title">Excel 2013</span>
                                        <div class="rating small no-margin" data-role="rating" data-stars="5"><ul style="margin-bottom: 0px;"><li></li><li></li><li></li><li></li><li></li></ul></div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list bg-lightBlue fg-white">
                                <div class="list-content">
                                    <img src="images/word2013icon.png" class="icon">
                                    <div class="data">
                                        <span class="list-title">Word 2013</span>
                                        <div class="rating small no-margin fg-yellow" data-score="4" data-role="rating" data-stars="5"><ul style="margin-bottom: 0px;"><li class="rated"></li><li class="rated"></li><li class="rated"></li><li class="rated"></li><li></li></ul></div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list selected">
                                <div class="list-content">
                                    <img src="images/onenote2013icon.png" class="icon">
                                    <div class="data">
                                        <span class="list-title">Word 2013</span>
                                        <div class="progress-bar small" data-role="progress-bar" data-value="75"><div class="bar bg-cyan" style="width: 75%;"></div></div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list shadow">
                                <div class="list-content">
                                    <img src="images/excel2013icon.png" class="icon">
                                    <div class="data">
                                        <span class="list-title">Excel 2013</span>
                                        <div class="rating small no-margin" data-role="rating" data-stars="5"><ul style="margin-bottom: 0px;"><li></li><li></li><li></li><li></li><li></li></ul></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span9">
                <div class="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        Kuro
                    </div>
                    <div class="panel-content">
                        
                </div>
            </div>
        </div>
    </div>
</div>